.terminal {
    grid-area: terminal;
    height: 25vh;
}

.terminal textarea {
    height: 100%;
    width: 100%;
}

.codeEntry {
    grid-area: codeEntry;
}

.codeEntry textarea {
    height: 100%;
    width: 100%;
}

.chartArea {
    grid-area: chartArea;
    border-style: solid; 
    height: 50vh;
}

.interfaceGrid {
    max-width: 98vw;
    margin: 0 auto;
    height: 75vh;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "codeEntry chartArea chartArea chartArea"
        "codeEntry  chartArea  chartArea chartArea"
        "codeEntry  terminal    terminal terminal";
        background-color: #fff;
        color: #444;
}

.hide {
    display: none;
}


.codeEntry div, .codeEntry textarea{
    border: none;
}

.codeEntry {
    display: grid;
    grid-template-columns: 1.6em 1fr;
    font-size: 1rem;
}

#gutter {
    background-color: lightgray;
}