.terminal {
    grid-area: terminal;
    z-index: 999;

}

.terminal textarea {
    z-index: 999;
    height: 100%;
    width: 100%;

}

.codeEntry {
    grid-area: codeEntry;


}

.chartArea {
    grid-area: chartArea;
    border-top: solid; 
    border-right: solid;
    border-left: solid;
    z-index: 5;
   
}



.interfaceGrid_old {
    max-width: 98vw;
    margin: 0 auto;
    height: 80vh;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .6fr;
    grid-template-areas:
        "codeEntry chartArea chartArea chartArea"
        "codeEntry  chartArea  chartArea chartArea"
        "codeEntry  terminal    terminal terminal";
        background-color: #fff;
        color: #444;
}

.hide {
    display: none;
}


.codeEntry div, .codeEntry textarea{
    border: none;
}


.interfaceGrid {
    position: relative;
    margin: 0 auto;
    height: 80vh;
    width: 98vw;
}

.chartArea {
    position: absolute;
    top: 0;
    left: 32vw;
    width: 66vw;
    height: 60vh;
}

.codeEntry {
    width: 32vw;
    height: 80vh;
}

.terminal {
    position: absolute;
    height: calc(80vh - 60vh);
    top: 60vh;
    left: 32vw;
    width: 66vw;
}