/*
Header height: 56px
Buttons: around 77px

Assuming header area: 150x with a little padding
*/

:root {
    --interfaceHeight: calc(96vh - 100px);
    --codeEntryWidth: 44vw;
    --chartHeight: 65vh;
  }

.terminal {
    grid-area: terminal;
    z-index: 999;

}

.terminal textarea {
    z-index: 999;
    height: 100%;
    width: 100%;

}

.codeEntry {
    grid-area: codeEntry;


}

.chartArea {
    grid-area: chartArea;
    border-top: solid; 
    border-right: solid;
    border-left: solid;
    z-index: 5;
   
}


.hide {
    display: none;
}


.codeEntry div, .codeEntry textarea{
    border: none;

}


.interfaceGrid {
    position: relative;
    margin: 0 auto;
    height: var(--interfaceHeight);
    width: 98vw;
}

.chartArea {
    resize: both;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(98vw - var(--codeEntryWidth));
    height: var(--chartHeight);
}

.codeEntry {
    width: var(--codeEntryWidth);
    height: var(--interfaceHeight);
}

.terminal {
    position: absolute;
    height: calc(var(--interfaceHeight) - var(--chartHeight) - 1px);
    bottom: 0;
    right: 0;
    width: calc(98vw - var(--codeEntryWidth));
}