.project:hover {
    background-color: rgba(0, 0, 0, .1);
}


.top-buttons {
    height: 20px;
}

.top-buttons ul {
    cursor: pointer;
    display: flex;
    padding-left: 1vw;
    justify-content: left;
    position: absolute;
    top: 50px;
    z-index: 50;
    left: 0;
    list-style-type: none;
  }

  
  .top-buttons ul li {
    color: black;
    font-size: 1em;
    border: 1px solid black;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    height: 40px;
    background-color: #B3DDE7;
    text-align: center;
    text-decoration: none;
  }

  .activeButton {
      background-color: #8badb5 !important;
  }

  #go-button {
      margin-right: 15px;
  }
